# Python para no guardar cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Entornos
.env
.venv
venv/
env/
*.conda

# Archivos temporales
*.tmp
*.log

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
.idea/

# Archivos que uso en Jupyter Notebook
clase1Taller.ipynb
Sem1_clase1-2.ipynb