# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Entornos
.env
.venv
venv/
env/
*.conda

# Archivos temporales
*.tmp
*.log

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
.idea/